body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

button {
  background: #e5b6d5;
  border: 11px solid #b2479a;
  border-right: 11px solid #cc7fb5;
  border-left: 11px solid #cc7fb5;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 700;
  height: 120px;
  letter-spacing: 4px;
  margin: 20px;
  text-transform: uppercase;
  width: 260px;
}

button:hover {
  background: #b2479a;
  border: 11px solid #cc7fb5;
  border-right: 11px solid #e5b6d5;
  border-left: 11px solid #e5b6d5;
}

@media (max-width: 620px) {
  button {
    display: block;
  }

  .reset-button {
    font-size: 1.5em;
    height: 60px;
    margin-top: 60px;
  }
}
